@import '~@/assets/css/folkard.css';

@mixin video-component() {
  margin: 0 7.5px 15px;
  width: 320px;
  display: flex;
}

@mixin btn() {
  border-radius: 3px;
  background: white;
  padding: 5px 3px 0;
  margin: 0 3px;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  &:hover, &:active, &:focus {
    background: rgba(128,128,128, 0.9);
  }
}

@mixin kaamelott() {
  font-family: folkard, serif;
  text-transform: uppercase;
}