:root {
  height: 100%;
}
:root, body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 0;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}